*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #282a35;
    color: white;
    /* padding: 50px auto; */
    font-family: sans-serif; 
}
#main-wrapper{
    display: flex;
    flex-direction: row;
    
}

#left-side{
    width: 18vw;
    height: 87.4vh;
    position: fixed;
    background-color: #222536;
    z-index: 999;
}
.item-menu{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    max-width: 18vw;
    overflow-x: auto;
}

.item-menu:hover{
    background-color: #04aa6d;
    cursor: pointer;
    color: black;
}

#main-container {
    padding: 30px 30px;
    padding-left: 23vw;
    float: right;
    width: 82vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 kolumny w wierszu */
    gap: 20px; /* Odstępy między elementami */
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Normalny wiersz */
#main-container > a:nth-child(8n+1),
#main-container > a:nth-child(8n+2),
#main-container > a:nth-child(8n+3),
#main-container > a:nth-child(8n+4) {
    grid-column: auto; /* Normalna kolejność */
}

/* Odwrócony wiersz */
#main-container > a:nth-child(8n+5) {
    grid-column: 4; /* Pierwszy element od prawej */
}
#main-container > a:nth-child(8n+6) {
    grid-column: 3; /* Drugi element od prawej */
}
#main-container > a:nth-child(8n+7) {
    grid-column: 2; /* Trzeci element od prawej */
}
#main-container > a:nth-child(8n+8) {
    grid-column: 1; /* Czwarty element od prawej */
}
#main-container > a:nth-child(8n+9) {
    grid-column: 1; /* Czwarty element od prawej */
}



#main-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* border: 2px solid black; */
    background-color: #04aa6d;
    color: black;
    width: 180px;
    height: 185px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    text-align: center;
    transition: transform 0.3s ease;
    position: relative;
    color: white;
    
}

#main-container div img {
    width: 60px; /* Większy obraz */
    margin-bottom: 10px;
}

#main-container div:hover {
    transform: scale(1.1);
    background-color: #0d895c;
    color: white;
}

/* Pozycjonowanie sześciokątów w układzie plastra miodu */
#main-container a:nth-child(odd) {
    margin-top: 100px; /* Przesunięcie co drugi wiersz */
    
}


#connections {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Uniemożliwia interakcję z SVG */
    z-index: 0;
}
#main-container > div {
    position: relative;
    z-index: 1; /* Sześciokąty nad SVG */
    
}

line{
    /* margin-left: -23vw; */
}

a{
    text-decoration: none;
    color: white;
}